<div class="bg" style="background-color: black; height: 100vh">
    {% extends 'base.html' %}
    
{% block content %}
    {% block form %}
        {% include 'form.html' %}
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="padding: 50px; margin:auto;">
                <h1 style="text-align: center; color: aliceblue;"> Sorry. We couldn't find the page you wanted. </h1>
            </div>
            <div class="col-md-6">
                <img src='https://media4.giphy.com/media/BEob5qwFkSJ7G/giphy.gif' style="border-radius: 15%;" alt="">
            </div>
        </div>
    </div>
    {% endblock %}
</div>